{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
  <form action="/change_pass" method="post">
  <!--https://getbootstrap.com/docs/4.0/components/forms/-->
  <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="old_pass" placeholder="Old Password" type="password">
    <input autocomplete="off" autofocus class="form-control" name="new_pass" placeholder="New Password" type="password">
  </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
  </form>
{% endblock %}
      
{% block script %}{% endblock %}
