{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!--https://getbootstrap.com/docs/4.1/content/tables/-->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">TOTAL</th>
    </tr>
  </thead>
  <tbody>
     {% for symbol,value in stocks.items() %}
     <tr>
      <td>{{symbol}}</td>
      <td>{{value[0]}}</td>
      <td>{{value[1]}}</td>
      <td>{{value[2]}}</td>
      <td>{{value[3]}}</td>
    </tr>
     {% endfor %}
    <tr>
      <td>CASH</td>
      <td><!--empty--></td>
      <td><!--empty--></td>
      <td><!--empty--></td>
      <td>{{cash}}</td>
    </tr>
    <tr>
      <td><!--empty--></td>
      <td><!--empty--></td>
      <td><!--empty--></td>
      <td><!--empty--></td>
      <td><b>{{total}}</b></td>
    </tr>
  </tbody>
{% endblock %}
{% block script %}{% endblock %}
